name: Continous Integration

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [1.8, 11]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up environment
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java-version }}
    - name: Build with Gradle
      run: ./gradlew buildPlugin
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up environment
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Test with Gradle
      run: ./gradlew test --info
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: build/reports/jacoco/test/jacocoTestReport.xml
